@keyframes updown {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-20px);
  }
}

@keyframes scroller {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}

@keyframes front_icon {
  0% {
    left: 0px;
  }

  25% {
    left: 0px;
  }

  33% {
    left: -70px;
  }

  70% {
    left: -70px;
  }

  80% {
    left: -140px;
  }

  95% {
    left: -140px;
  }

  100% {
    left: 0px;
  }
}

@keyframes skill__slide {
  0% {
    top: 0px;
  }

  25% {
    top: 0px;
  }

  33% {
    top: -20px;
  }

  63% {
    top: -20px;
  }

  80% {
    top: -40px;
  }

  90% {
    top: -40px;
  }

  100% {
    top: -60px;
  }
}

@keyframes rotacion {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}