* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');
@import '_animation.scss';
@import '_colors.scss';
@import '_border.scss';

html,
body {
  width: 100vw;
  font-family: 'Space Grotesk', sans-serif;
  color: $white;
  background-color: $dark-matter;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 10px;
  margin: 15px;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

section.banner {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: $dark-matter;

  .container {
    z-index: 50;
  }

  img.commodore {
    position: relative;
    animation: updown 1.5s infinite ease-in-out alternate;

    &::after {
      content: 'Site em construção/manutenção!';
      color: $white;
      position: relative;
      top: 0;
      left: 0;
      font-size: 12px;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    display: inline-block;
    background: url('../assets/grain.gif') no-repeat;
    mix-blend-mode: screen;
    background-size: cover;
    background-position: center center;
    background-color: black;
  }

  &::before {
    content: '';
    position: absolute;
    top: -10px;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: url('../assets/designer.png') no-repeat;
    background-position: center center;
    background-size: 200px;
    opacity: 0.2;
  }
}

.corrente {
  background: $dark-bold;
  width: 100%;
  padding: 10px 0px;
  overflow: hidden;
  position: relative;

  div {
    .scroll {
      width: 100%;
      display: flex;
      white-space: nowrap;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $gray;
      animation: scroller 15s linear infinite alternate-reverse;
    }
  }
}

#grid {
  border-top: $border;
  min-height: 175px;
  overflow: hidden;

  .container {
    display: grid;
    height: 100%;
    padding: 0px;
    margin: 0px;
    align-content: stretch;

    .bio {
      grid-area: bio;
      border-right: $border;
      border-bottom: $border;
      padding: 15px;

      h4 {
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.5px;
      }

      p {
        max-width: 260px;
        margin-top: 12px;
        font-size: 13px;
        color: $gray;
        line-height: 18px;
      }
    }

    .right__icons {
      grid-area: icons;
      align-items: stretch;
      min-width: 80px;

      .icon__weight {
        height: 50%;
        border-bottom: $border;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .skills {
        height: 50%;
        border-bottom: $border;
        display: flex;
        align-items: center;
        justify-content: center;

        .slide__skill {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60px;
          height: 60px;
          overflow: hidden;

          .icons {
            position: absolute;
            display: flex;
            flex-direction: row;
            height: 60px;
            left: 0px;
            overflow: hidden;

            animation: front_icon 10s cubic-bezier(0.58, -0.51, 0.3, 1.45)
              infinite;

            img {
              margin-right: 10px;
              width: 60px;
            }
          }
        }
      }
    }

    grid-template-areas: 'bio icons';
  }
}

section.projetos {
  border-bottom: $border;
  width: 100%;
  
  .container {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;

    .heading {
      padding: 15px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      p {
        color: $gray;
      }
    }
  }

  .slide__projetos {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 15px;

    .wrapper__slide {
      &::-webkit-scrollbar {
        display: none;
      }

      width: 100%;
      overflow-x: scroll;
      height: 100px;
      display: flex;
      flex-direction: center;
      align-items: center;

      img {
        margin-right: 10px;

        &:first-child {
          margin-left: 15px;
        }
      }
    }
  }
}

.contato {
  padding: 200px 15px 100px 15px;
  background: url('../assets/Commodore_PET_BG.jpg') no-repeat;
  background-position: top left;
  background-size: contain;

  .container {
    margin: 0px;
    padding: 0px;
    position: relative;

    &::after {
      content: 'CONTATO';
      color: $vintage;
      font-size: 50px;
      font-weight: 700;
      position: absolute;
      top: -60%;
      left: 40%;
    }

    .grid_contato {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
    }

    a {
      width: 100%;
      text-align: center;
      display: inline-block;
      background-color: $bg-dark;
      padding: 15px 0px;
      border: 1.5px solid $red-vintage;
      border-radius: 10px;
      margin-bottom: 15px;

      img {
        width: 20px;
        vertical-align: -2px;
      }

      p {
        display: inline-block;
        vertical-align: 2px;
        color: $gray;
        margin-left: 10px;
      }
    }
  }
}

footer#fixed__footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;

  .corrent__footer {
    background: $dark-bold;
    color: $gray;
    width: 100%;
    padding: 10px 0px;

    .scroll {
      display: flex;
      white-space: nowrap;
      animation: scroller 20s linear infinite alternate;
      font-size: 12px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;

    #curriculo {
      width: 50%;
      height: 100%;
      background: $red-vintage;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      p {
        color: $white;
        font-weight: 700;
        font-size: 18px;
        img {
          position: relative;
          top: 1px;
          width: 13px;
          margin-right: 10px;
        }
      }
    }

    #contato {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $vintage;
      cursor: pointer;

      p {
        color: $dark-matter;
        font-weight: 700;
        font-size: 18px;

        img {
          position: relative;
          top: 1px;
          width: 18px;
          margin-right: 10px;
        }
      }
    }
  }
}

.container__loading{
  width: 100vw;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10vw;
  z-index: 2000;
}

.overlay {
  width: 100%;
  height: 100vh;
}

.block {
  position: fixed;
  width: 0%;
  height: 100vh;
  background-color: $red-vintage;
}

.block-1 {
  left: 0;
}

.block-2 {
  left: 5%;
}

.block-3 {
  left: 10%;
}

.block-4 {
  left: 15%;
}

.block-5 {
  left: 20%;
}

.block-6 {
  left: 25%;
}

.block-7 {
  left: 30%;
}

.block-8 {
  left: 35%;
}

.block-9 {
  left: 40%;
}

.block-10 {
  left: 45%;
}

.block-11 {
  left: 50%;
}

.block-12 {
  left: 55%;
}

.block-13 {
  left: 60%;
}

.block-14 {
  left: 65%;
}

.block-15 {
  left: 70%;
}

.block-16 {
  left: 75%;
}

.block-17 {
  left: 80%;
}

.block-18 {
  left: 85%;
}

.block-19 {
  left: 90%;
}

.block-20 {
  left: 95%;
}