@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap");
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

@-webkit-keyframes updown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}

@keyframes updown {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
@-webkit-keyframes scroller {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
@keyframes scroller {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
@-webkit-keyframes front_icon {
  0% {
    left: 0px;
  }
  25% {
    left: 0px;
  }
  33% {
    left: -70px;
  }
  70% {
    left: -70px;
  }
  80% {
    left: -140px;
  }
  95% {
    left: -140px;
  }
  100% {
    left: 0px;
  }
}
@keyframes front_icon {
  0% {
    left: 0px;
  }
  25% {
    left: 0px;
  }
  33% {
    left: -70px;
  }
  70% {
    left: -70px;
  }
  80% {
    left: -140px;
  }
  95% {
    left: -140px;
  }
  100% {
    left: 0px;
  }
}
@-webkit-keyframes skill__slide {
  0% {
    top: 0px;
  }
  25% {
    top: 0px;
  }
  33% {
    top: -20px;
  }
  63% {
    top: -20px;
  }
  80% {
    top: -40px;
  }
  90% {
    top: -40px;
  }
  100% {
    top: -60px;
  }
}
@keyframes skill__slide {
  0% {
    top: 0px;
  }
  25% {
    top: 0px;
  }
  33% {
    top: -20px;
  }
  63% {
    top: -20px;
  }
  80% {
    top: -40px;
  }
  90% {
    top: -40px;
  }
  100% {
    top: -60px;
  }
}
html,
body {
  width: 100vw;
  font-family: "Space Grotesk", sans-serif;
  color: #f2f2f2;
  background-color: #191919;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 10px;
  margin: 15px;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

section.banner {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: #191919;
}
section.banner .container {
  z-index: 50;
}
section.banner img.commodore {
  position: relative;
  -webkit-animation: updown 1.5s infinite ease-in-out alternate;
          animation: updown 1.5s infinite ease-in-out alternate;
}
section.banner img.commodore::after {
  content: "Site em construção/manutenção!";
  color: #f2f2f2;
  position: relative;
  top: 0;
  left: 0;
  font-size: 12px;
}
section.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  display: inline-block;
  opacity: 0.15;
  background: url("../assets/grain.gif") no-repeat;
  mix-blend-mode: screen;
  background-size: cover;
  background-position: center 100%;
  background-color: black;
}
section.banner::before {
  content: "";
  position: absolute;
  top: -10px;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: url("../assets/designer.png") no-repeat;
  background-position: center center;
  background-size: 220px;
  opacity: 0.2;
}
section.banner .skill__display {
  width: 100%;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateY(-50%);
  transform: translatex(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 20px;
}
section.banner .skill__display p {
  position: relative;
  vertical-align: text-top;
  white-space: nowrap;
  font-size: 16px;
  color: #f2f2f2;
  opacity: 0.5;
}
section.banner .skill__display .slide_skill_text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 20px;
  position: relative;
  -webkit-animation: skill__slide 7s cubic-bezier(0.22, 0.68, 0, 1.71) infinite;
          animation: skill__slide 7s cubic-bezier(0.22, 0.68, 0, 1.71) infinite;
}

.corrente {
  background: #333333;
  width: 100%;
  padding: 10px 0px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.corrente .scroll {
  vertical-align: middle;
  display: flex;
  position: relative;
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8c8c8c;
  -webkit-animation: scroller 30s linear infinite alternate;
          animation: scroller 30s linear infinite alternate;
  font-size: 0.7rem;
}
.corrente .scroll span {
  font-weight: 400;
  letter-spacing: 2px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

#grid {
  border-top: 1.5px solid #333333;
  min-height: 175px;
  overflow: hidden;
}
#grid .container {
  display: grid;
  height: 100%;
  padding: 0px;
  margin: 0px;
  align-content: stretch;
  grid-template-areas: "bio icons";
}
#grid .container .bio {
  grid-area: bio;
  border-right: 1.5px solid #333333;
  border-bottom: 1.5px solid #333333;
  padding: 15px;
}
#grid .container .bio h4 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
}
#grid .container .bio p {
  max-width: 260px;
  margin-top: 12px;
  font-size: 13px;
  color: #8c8c8c;
  line-height: 18px;
}
#grid .container .right__icons {
  grid-area: icons;
  align-items: stretch;
  min-width: 80px;
}
#grid .container .right__icons .icon__weight {
  height: 50%;
  border-bottom: 1.5px solid #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}
#grid .container .right__icons .skills {
  height: 50%;
  border-bottom: 1.5px solid #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}
#grid .container .right__icons .skills .slide__skill {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  overflow: hidden;
}
#grid .container .right__icons .skills .slide__skill .icons {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 60px;
  left: 0px;
  overflow: hidden;
  -webkit-animation: front_icon 10s cubic-bezier(0.58, -0.51, 0.3, 1.45) infinite;
          animation: front_icon 10s cubic-bezier(0.58, -0.51, 0.3, 1.45) infinite;
}
#grid .container .right__icons .skills .slide__skill .icons img {
  margin-right: 10px;
  width: 60px;
}

section.projetos {
  border-bottom: 1.5px solid #333333;
  width: 100%;
}
section.projetos .container {
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
}
section.projetos .container .heading {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
section.projetos .container .heading p {
  color: #8c8c8c;
}
section.projetos .slide__projetos {
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 15px;
}
section.projetos .slide__projetos .wrapper__slide {
  width: 100%;
  overflow-x: scroll;
  height: 100px;
  display: flex;
  flex-direction: center;
  align-items: center;
}
section.projetos .slide__projetos .wrapper__slide::-webkit-scrollbar {
  display: none;
}
section.projetos .slide__projetos .wrapper__slide img {
  margin-right: 10px;
}
section.projetos .slide__projetos .wrapper__slide img:first-child {
  margin-left: 15px;
}

.contato {
  padding: 200px 15px 100px 15px;
  background: url("../assets/Commodore_PET_BG.jpg") no-repeat;
  background-position: top left;
  background-size: contain;
}
.contato .container {
  margin: 0px;
  padding: 0px;
  position: relative;
}
.contato .container::after {
  content: "CONTATO";
  color: #ecf7c5;
  font-size: 50px;
  font-weight: 700;
  position: absolute;
  top: -60%;
  left: 40%;
}
.contato .container .grid_contato {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.contato .container a {
  width: 100%;
  text-align: center;
  display: inline-block;
  background-color: #1a1a1a;
  padding: 15px 0px;
  border: 1.5px solid #ea5656;
  border-radius: 10px;
  margin-bottom: 15px;
}
.contato .container a img {
  width: 20px;
  vertical-align: -2px;
}
.contato .container a p {
  display: inline-block;
  vertical-align: 2px;
  color: #8c8c8c;
  margin-left: 10px;
}

footer#fixed__footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
}
footer#fixed__footer .corrent__footer {
  background: #333333;
  color: #8c8c8c;
  width: 100%;
  padding: 10px 0px;
}
footer#fixed__footer .corrent__footer .scroll {
  display: flex;
  white-space: nowrap;
  animation: scroller 60s linear infinite alternate-reverse;
  font-size: 12px;
  position: relative;
}
footer#fixed__footer .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
}
footer#fixed__footer .buttons #curriculo {
  width: 50%;
  height: 100%;
  background: #ea5656;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
footer#fixed__footer .buttons #curriculo p {
  color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
}
footer#fixed__footer .buttons #curriculo p img {
  position: relative;
  top: 1px;
  width: 13px;
  margin-right: 10px;
}
footer#fixed__footer .buttons #contato {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ecf7c5;
  cursor: pointer;
}
footer#fixed__footer .buttons #contato p {
  color: #191919;
  font-weight: 700;
  font-size: 18px;
}
footer#fixed__footer .buttons #contato p img {
  position: relative;
  top: 1px;
  width: 18px;
  margin-right: 10px;
}

.container__loading {
  width: 100vw;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10vw;
  z-index: 2000;
}

.overlay {
  width: 100%;
  height: 100vh;
}

.block {
  position: fixed;
  width: 0%;
  height: 100vh;
  background-color: #ea5656;
}

.block-1 {
  left: 0;
}

.block-2 {
  left: 5%;
}

.block-3 {
  left: 10%;
}

.block-4 {
  left: 15%;
}

.block-5 {
  left: 20%;
}

.block-6 {
  left: 25%;
}

.block-7 {
  left: 30%;
}

.block-8 {
  left: 35%;
}

.block-9 {
  left: 40%;
}

.block-10 {
  left: 45%;
}

.block-11 {
  left: 50%;
}

.block-12 {
  left: 55%;
}

.block-13 {
  left: 60%;
}

.block-14 {
  left: 65%;
}

.block-15 {
  left: 70%;
}

.block-16 {
  left: 75%;
}

.block-17 {
  left: 80%;
}

.block-18 {
  left: 85%;
}

.block-19 {
  left: 90%;
}

.block-20 {
  left: 95%;
}/*# sourceMappingURL=style.css.map */